In [14]:
import pandas as pd
import numpy as np

In [15]:
df1 = pd.read_excel('03 Python test and Dataset.xlsx', sheet_name='pricing_project_dataset')
df2 = pd.read_excel('03 Python test and Dataset.xlsx', sheet_name='platform_number')
df3 = pd.read_excel('03 Python test and Dataset.xlsx', sheet_name='exchange_rate')

### 1. Cluster item lv into each portion (dataset is at model lv) (5 points)

In [16]:
print(df1.grass_region.value_counts())

grass_region
ID    8428
TH    4137
SG    2194
MY    2118
VN    2097
PH    2025
Name: count, dtype: int64

In [4]:
df4=pd.DataFrame(df1.groupby('grass_region').sum()['shopee_order'])
df4

              shopee_order
grass_region
ID                  848601
MY                  207739
PH                  202688
SG                  219624
TH                  408024
VN                  213484

In [5]:
df5 = df2[['region','platform order']]

In [8]:
df4.div(df5.set_index('region')['platform order'], axis=0)

              shopee_order
grass_region
ID                0.546299
MY                0.623496
PH                0.516156
SG                0.417392
TH                0.400668
VN                0.516903

In [13]:
def calculate_net_competitiveness(group):
    shopee_less_cpt = (group['shopee_model_competitiveness_status'] == 'Shopee < CPT').sum()
    shopee_more_cpt = (group['shopee_model_competitiveness_status'] == 'Shopee > CPT').sum()
    total_match_model = len(group)
    net_competitiveness = (shopee_less_cpt - shopee_more_cpt) / total_match_model if total_match_model != 0 else 0
    return net_competitiveness

net_competitiveness_results = df1.groupby('grass_region').apply(calculate_net_competitiveness)
required_countries = ['SG', 'TH', 'VN', 'ID', 'PH', 'MY']
net_competitiveness_results = net_competitiveness_results[required_countries]

net_competitiveness_results

grass_region
SG   -0.061531
TH    0.005801
VN   -0.012876
ID    0.001898
PH    0.002469
MY    0.002833
dtype: float64

### 3. How many item at top 30% of model that contribute in highest order to platform by each country/region? (5points)

In [17]:
def top_30_percent_count(group):
    sorted_group = group.sort_values(by='shopee_order', ascending=False)
    top_30_threshold = int(len(sorted_group) * 0.3)
    return top_30_threshold

top_30_percent_results = df1.groupby('grass_region').apply(top_30_percent_count)
required_countries = ['SG', 'TH', 'VN', 'ID', 'PH', 'MY']
top_30_percent_results = top_30_percent_results[required_countries]

top_30_percent_results

grass_region
SG     658
TH    1241
VN     629
ID    2528
PH     607
MY     635
dtype: int64